@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F2F2F2;
  font-family: 'Baloo Paaji 2', cursive;
}
